In [56]:
import yfinance as yf

In [57]:
tickers = ["AAPL","MRF.BO"]
ohlcv_data = {}

In [58]:
for ticker in tickers:
    temp = yf.download(ticker,period="1mo",interval="15m")
    temp.dropna(how="any",inplace=True)
    ohlcv_data[ticker] = temp

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

# Moving Average Convergence Divergence

In [59]:
def MACD(DF,a=12,b=26,c=9):
    df = DF.copy()
    df["ma_fast"] = df["Adj Close"].ewm(span=a,min_periods=a).mean()
    df["ma_slow"] = df["Adj Close"].ewm(span=b,min_periods=b).mean()
    df["macd"] = df["ma_fast"] - df["ma_slow"]
    df["signal"] = df["macd"].ewm(span=c,min_periods=c).mean()
    
    return df.loc[:,["macd","signal"]]

In [60]:
for ticker in ohlcv_data:
    ohlcv_data[ticker][["MACD","SIGNAL"]]= MACD(ohlcv_data[ticker])

In [61]:
ohlcv_data

{'AAPL':                            Open        High         Low       Close  \
 Datetime
 2023-06-29 09:30:00  189.080002  189.949997  189.050003  189.330002
 2023-06-29 09:45:00  189.329895  190.070007  189.300003  189.699295
 2023-06-29 10:00:00  189.699997  189.975006  189.059998  189.460007
 2023-06-29 10:15:00  189.449997  189.860001  189.350006  189.470001
 2023-06-29 10:30:00  189.460007  189.570007  189.110001  189.220001
 ...                         ...         ...         ...         ...
 2023-07-28 14:45:00  195.919998  196.199997  195.824997  195.929993
 2023-07-28 15:00:00  195.925003  196.149994  195.770004  196.040604
 2023-07-28 15:15:00  196.029999  196.125000  195.740005  195.764999
 2023-07-28 15:30:00  195.764999  196.000000  195.429993  195.520004
 2023-07-28 15:45:00  195.520004  195.949997  195.419998  195.839996

                       Adj Close   Volume      MACD    SIGNAL
 Datetime
 2023-06-29 09:30:00  189.330002  5699621       NaN       NaN
 2023-06-29 09:45:00  189.699295  3998254       NaN       NaN
 2023-06-29 10:00:00  189.460007  2557308       NaN       NaN
 2023-06-29 10:15:00  189.470001  2050805       NaN       NaN
 2023-06-29 10:30:00  189.220001  1746009       NaN       NaN
 ...                         ...      ...       ...       ...
 2023-07-28 14:45:00  195.929993   870685  0.204354  0.239266
 2023-07-28 15:00:00  196.040604  1065092  0.204389  0.232291
 2023-07-28 15:15:00  195.764999  1256700  0.180102  0.221853
 2023-07-28 15:30:00  195.520004  1494335  0.139477  0.205378
 2023-07-28 15:45:00  195.839996  4413242  0.131585  0.190619

 [534 rows x 8 columns],
 'MRF.BO':                               Open           High            Low  \
 Datetime
 2023-06-30 09:15:00  100762.351562  100762.351562  100100.000000
 2023-06-30 09:30:00  100205.750000  100379.101562  100205.750000
 2023-06-30 09:45:00  100300.000000  100300.000000  100100.000000
 2023-06-30 10:00:00  100283.796875  100318.750000  100128.703125
 2023-06-30 10:15:00  100323.703125  100323.703125  100182.351562
 ...                            ...            ...            ...
 2023-07-28 13:30:00  102100.000000  102100.000000  102025.898438
 2023-07-28 14:00:00  102025.898438  102026.148438  102025.898438
 2023-07-28 14:45:00  102100.000000  102100.000000  102100.000000
 2023-07-28 15:00:00  102190.148438  102500.000000  102190.148438
 2023-07-28 15:15:00  102558.898438  102726.000000  102461.250000

                              Close      Adj Close  Volume       MACD  \
 Datetime
 2023-06-30 09:15:00  100237.453125  100237.453125      15        NaN
 2023-06-30 09:30:00  100374.398438  100374.398438       9        NaN
 2023-06-30 09:45:00  100141.351562  100141.351562      12        NaN
 2023-06-30 10:00:00  100128.703125  100128.703125       3        NaN
 2023-06-30 10:15:00  100285.296875  100285.296875       6        NaN
 ...                            ...            ...     ...        ...
 2023-07-28 13:30:00  102025.898438  102025.898438       2 -89.398442
 2023-07-28 14:00:00  102026.148438  102026.148438       2 -85.597230
 2023-07-28 14:45:00  102100.000000  102100.000000      14 -75.752313
 2023-07-28 15:00:00  102500.000000  102500.000000      12 -35.266953
 2023-07-28 15:15:00  102534.398438  102534.398438      26  -0.401716

                          SIGNAL
 Datetime
 2023-06-30 09:15:00         NaN
 2023-06-30 09:30:00         NaN
 2023-06-30 09:45:00         NaN
 2023-06-30 10:00:00         NaN
 2023-06-30 10:15:00         NaN
 ...                         ...
 2023-07-28 13:30:00 -106.020276
 2023-07-28 14:00:00 -101.935667
 2023-07-28 14:45:00  -96.698996
 2023-07-28 15:00:00  -84.412587
 2023-07-28 15:15:00  -67.610413

 [400 rows x 8 columns]}

# Average True Range

In [62]:
def ATR(DF,n=14):
    df = DF.copy()
    df["H-L"] = df["High"] - df["Low"]
    df["H-PC"] = abs(df["High"] - df["Adj Close"].shift(1))
    df["L-PC"] = abs(df["Low"] - df["Adj Close"].shift(1))
    df["TR"] = df[["H-L","H-PC","L-PC"]].max(axis=1,skipna=False)
    df["ATR"] = df["TR"].ewm(com=n,min_periods=n).mean()
    return df["ATR"]

In [63]:
for ticker in ohlcv_data:
    ohlcv_data[ticker]["ATR"] = ATR(ohlcv_data[ticker])

In [65]:
df

,Open,High,Low,Close,Adj Close,Volume,MACD,SIGNAL,ATR
Datetime,,,,,,,,,
2023-06-29 09:30:00,189.080002,189.949997,189.050003,189.330002,189.330002,5699621,NaN,NaN,NaN
2023-06-29 09:45:00,189.329895,190.070007,189.300003,189.699295,189.699295,3998254,NaN,NaN,NaN
2023-06-29 10:00:00,189.699997,189.975006,189.059998,189.460007,189.460007,2557308,NaN,NaN,NaN
2023-06-29 10:15:00,189.449997,189.860001,189.350006,189.470001,189.470001,2050805,NaN,NaN,NaN
2023-06-29 10:30:00,189.460007,189.570007,189.110001,189.220001,189.220001,1746009,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2023-07-28 14:45:00,195.919998,196.199997,195.824997,195.929993,195.929993,870685,0.204354,0.239266,0.532513
2023-07-28 15:00:00,195.925003,196.149994,195.770004,196.040604,196.040604,1065092,0.204389,0.232291,0.522344
2023-07-28 15:15:00,196.029999,196.125000,195.740005,195.764999,195.764999,1256700,0.180102,0.221853,0.513188
2023-07-28 15:30:00,195.764999,196.000000,195.429993,195.520004,195.520004,1494335,0.139477,0.205378,0.516976
2023-07-28 15:45:00,195.520004,195.949997,195.419998,195.839996,195.839996,4413242,0.131585,0.190619,0.517844

In [55]:
ohlcv_data

{'AAPL':                            Open        High         Low       Close  \
 Datetime
 2023-06-29 09:30:00  189.080002  189.949997  189.050003  189.330002
 2023-06-29 09:45:00  189.329895  190.070007  189.300003  189.699295
 2023-06-29 10:00:00  189.699997  189.975006  189.059998  189.460007
 2023-06-29 10:15:00  189.449997  189.860001  189.350006  189.470001
 2023-06-29 10:30:00  189.460007  189.570007  189.110001  189.220001
 ...                         ...         ...         ...         ...
 2023-07-28 14:45:00  195.919998  196.199997  195.824997  195.929993
 2023-07-28 15:00:00  195.925003  196.149994  195.770004  196.040604
 2023-07-28 15:15:00  196.029999  196.125000  195.740005  195.764999
 2023-07-28 15:30:00  195.764999  196.000000  195.429993  195.520004
 2023-07-28 15:45:00  195.520004  195.949997  195.419998  195.839996

                       Adj Close   Volume      MACD    SIGNAL       ATR
 Datetime
 2023-06-29 09:30:00  189.330002  5699621       NaN       NaN       NaN
 2023-06-29 09:45:00  189.699295  3998254       NaN       NaN       NaN
 2023-06-29 10:00:00  189.460007  2557308       NaN       NaN       NaN
 2023-06-29 10:15:00  189.470001  2050805       NaN       NaN       NaN
 2023-06-29 10:30:00  189.220001  1746009       NaN       NaN       NaN
 ...                         ...      ...       ...       ...       ...
 2023-07-28 14:45:00  195.929993   870685  0.204354  0.239266  0.532513
 2023-07-28 15:00:00  196.040604  1065092  0.204389  0.232291  0.522344
 2023-07-28 15:15:00  195.764999  1256700  0.180102  0.221853  0.513188
 2023-07-28 15:30:00  195.520004  1494335  0.139477  0.205378  0.516976
 2023-07-28 15:45:00  195.839996  4413242  0.131585  0.190619  0.517844

 [534 rows x 9 columns],
 'MRF.BO':                               Open           High            Low  \
 Datetime
 2023-06-30 09:15:00  100762.351562  100762.351562  100100.000000
 2023-06-30 09:30:00  100205.750000  100379.101562  100205.750000
 2023-06-30 09:45:00  100300.000000  100300.000000  100100.000000
 2023-06-30 10:00:00  100283.796875  100318.750000  100128.703125
 2023-06-30 10:15:00  100323.703125  100323.703125  100182.351562
 ...                            ...            ...            ...
 2023-07-28 13:30:00  102100.000000  102100.000000  102025.898438
 2023-07-28 14:00:00  102025.898438  102026.148438  102025.898438
 2023-07-28 14:45:00  102100.000000  102100.000000  102100.000000
 2023-07-28 15:00:00  102190.148438  102500.000000  102190.148438
 2023-07-28 15:15:00  102558.898438  102726.000000  102461.250000

                              Close      Adj Close  Volume       MACD  \
 Datetime
 2023-06-30 09:15:00  100237.453125  100237.453125      15        NaN
 2023-06-30 09:30:00  100374.398438  100374.398438       9        NaN
 2023-06-30 09:45:00  100141.351562  100141.351562      12        NaN
 2023-06-30 10:00:00  100128.703125  100128.703125       3        NaN
 2023-06-30 10:15:00  100285.296875  100285.296875       6        NaN
 ...                            ...            ...     ...        ...
 2023-07-28 13:30:00  102025.898438  102025.898438       2 -89.398442
 2023-07-28 14:00:00  102026.148438  102026.148438       2 -85.597230
 2023-07-28 14:45:00  102100.000000  102100.000000      14 -75.752313
 2023-07-28 15:00:00  102500.000000  102500.000000      12 -35.266953
 2023-07-28 15:15:00  102534.398438  102534.398438      26  -0.401716

                          SIGNAL         ATR
 Datetime
 2023-06-30 09:15:00         NaN         NaN
 2023-06-30 09:30:00         NaN         NaN
 2023-06-30 09:45:00         NaN         NaN
 2023-06-30 10:00:00         NaN         NaN
 2023-06-30 10:15:00         NaN         NaN
 ...                         ...         ...
 2023-07-28 13:30:00 -106.020276  147.720368
 2023-07-28 14:00:00 -101.935667  137.889010
 2023-07-28 14:45:00  -96.698996  133.619847
 2023-07-28 15:00:00  -84.412587  151.378524
 2023-07-28 15:15:00  -67.610413  158.936622

 [400 rows x 9 columns]}